*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
/.idea
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/
.idea
.idea/*
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
app/src/main/res/.DS_Store
app/src/main/res/mipmap-xxhdpi/.DS_Store
androidbitmapcanary
app/bugly/*
app/bugly/
jiagu/.cache